.test{
    color: aqua;
}

.header{
    /* position: absolute; */
    /* padding-top: 0; */
    /* position: fixed; */
    margin:0;
    top: 0;
    width: 100%;
    height: 2.5rem;
    background-color: blue;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: red;
}
